version: "3"
services:

  keydb:
    build:
      dockerfile: Dockerfile
      context: ./keydb/
    container_name: keydb
    hostname: keydb
    # command: keydb-server /etc/keydb/redis.conf --server-threads 2 --active-replica yes --replicaof 192.168.1.1 6379
    # command: keydb-server /etc/keydb/redis.conf --server-threads 2 --active-replica yes --replicaof 192.168.1.2 6379
    command: keydb-server /etc/keydb/redis.conf --server-threads 2
    volumes:
      - ./keydb/redis.conf:/etc/keydb/redis.conf
      - ./keydb/data:/data
    ports:
      - 6379:6379
    restart: unless-stopped

#  shortly:
#    build:
#      dockerfile: Dockerfile
#    container_name: shortly
#    ports:
#      - 8080:8080
#    restart: unless-stopped

volumes:
  data:
    driver: local

